<div class="reveal" id="confirmDeleteModal" data-reveal>
	<h1>{{ title }}</h1>
	<p class="lead">{{ message }}</p>
	<p class="text-center">
		<button class="button alert delete-confirm">{{ 'misc.delete'|trans }}</button> 
		<button class="button delete-cancel">{{ 'misc.cancel'|trans }}</button>
	</p>
		<button class="close-button" data-close aria-label="Close modal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
</div>
