{# app/Resources/views/album/index.html.twig #}
{% extends 'base.html.twig' %}

{% if name is defined %}
    {% set page_title = label|trans({'%name%': name}) %}
{% else %}
    {% set page_title = label|trans %}
{% endif %}

{% block body_id 'album_index' %}

{% block body %}

    {% embed "component/album_grid.html.twig" with {'albums': albums} %}
    {% endembed %}

    <div class="row column space-vertical">
        {{ pagerfanta(albums, null, {'routeName': 'album_index_paginated'}) }}
    </div>
{% endblock %}

