# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

parameters:
    database_host: localhost
    database_port: null
    database_name: photoalbums
    database_user: photoalbums
    database_password: NotSoSecretDatabasePasswordChangeMe
    mailer_transport: smtp
    mailer_host: smtp.sparkpostmail.com
    mailer_user: SMTP_Injection
    mailer_password: NotSoSecretMailerPasswordChangeMe
    mailer_encryption: tls
    mailer_port: '587'
    secret: NotSoSecretAppSecretChangeMe
    aws_s3_key: NotSoSecretAWSKeyChangeMe
    aws_s3_secret: NotSoSecretAWSSecretChangeMe
    aws_s3_bucket: photoalbums2
    local_photo_directory: %kernel.root_dir%/photo_upload_temp
    