{% extends "FOSUserBundle::layout.html.twig" %}

{% set page_title = 'user.title.password_reset_error'|trans %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pre_process %}
	{{ breadcrumbs.resetPassword() }}
{% endblock %}

{% block fos_user_content %}

    <div class="row column">
	    <div class="callout alert">
			<p>{{ 'resetting.password_already_requested'|trans }}</p>
	    </div>
    </div>

    <div class="row column">
		<p class="text-center space-vertical">
		    <a class="button" href="{{ path('fos_user_security_login') }}">{{ 'menu.login'|trans({}, 'messages') }}</a>
		</p>
	</div>


{% endblock fos_user_content %}
